// Reusable <select> styles
.wrap-dd-select {
    background-color: #fff;
    padding: 4px 12px;
    border: 1px solid $background-color-light-accent;
    border-radius: 0;
    box-shadow: none;

    font-weight: normal;
    color: $background-color-dark;
    line-height: 22px;

    &:after {
        border-color: $background-color-dark transparent;
    }
    .dropdown {
        background-color: #fff;
        border-color: $background-color-light-accent;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        z-index: 1;

        &::before {
            border-color: $background-color-light-accent transparent;
        }
        li.dropdown-item {
            a.dropdown-item {
                padding: 6px 12px;
                border-color: $background-color-light-accent;
                border-radius: 0;

                color: inherit;

                &:hover {
                    background-color: $primary-color;

                    color: #fff;
                }
            }
        }
    }
}
