.alt-space-row {
    @include row();

    background-color: rgba(#fff, 0.1);

    line-height: 50px;

    cursor: pointer;
    @include user-select(none);

    &:hover {
        background-color: $background-color-light-accent;
    }
    .description-column {
        height: 50px;

        overflow: hidden;
    }
    .welcome-column,
    .private-column,
    .featured-column {
        .fa.fa-dot-circle-o {
            color: $primary-color;
        }
    }
}
