.alt-header {
    @include clearfix;
    background-color: $background-color-dark;
    padding: 0 24px;

    .branding {
        float: left;

        color: #fff;
        font-weight: 600;
        line-height: 50px;
    }
    nav {
        float: right;

        button {
            background-color: $accent-color;
            margin: 10px 0;

            &:hover {
                background-color: lighten($accent-color, 10%);
            }
            &:active {
                background-color: darken($accent-color, 10%);
            }
        }
    }
}
